body,div,ul,span,ul,li{
    margin: 0;
    padding: 0;
}
span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px black solid;
    border-radius: 30px;

}
.changeBackground{
    background: black;
}
#spanDiv{
    text-align: center;
}
#picDiv{
    width: 100%;
    overflow: hidden;
}
#picUl{
    width: 300%;
}
#picUl li{
    width: 33.33%;
    float: left;
}
#picUl img{
    width: 100%;
    height: 500px;
}
